
/*[✨中文网字计划-提供便捷实用的全字符集中文渲染方案](https://chinese-font.netlify.app/zh-cn/)*/
/*[悠哉 | 在线字体预览测试部署](https://chinese-font.netlify.app/zh-cn/fonts/yozai/Yozai-Regular)*/
/*[悠哉字体](https://github.com/KonghaYao/chinese-free-web-font-storage/tree/branch/packages/yozai/fonts)*/
/*@import url("https://unpkg.com/browse/@chinese-fonts/yozai@2.0.1/dist/Yozai-Regular/result.css");*/
/*@import url("https://cdn.jsdelivr.net/npm/@chinese-fonts/yozai@2.0.1/dist/Yozai-Regular/result.css");*/
@import url("https://chinese-fonts-cdn.deno.dev/packages/yozai/dist/Yozai-Regular/result.css");
* { font-family: 'Yozai', 'Microsoft YaHei', 'NSimSun', 'SimSun' }

/*字体整体变大*/
html { font-size: 1.5rem; }
/*body * { font-size: 1.2rem; }*/

/** { text-shadow: 1px 1px 5px var(--md-accent-fg-color); font-family: 'FangSong', 'SimSun', 'Microsoft YaHei', 'NSimSun', sans-serif; font-weight: bold; }*/

/*h2 { color: #b0eb00; }*/
h2 { color: var(--md-accent-fg-color); font-weight: bold; }
h3 { color: var(--md-typeset-a-color); font-weight: bold; }
/*h3 { color: var(--md-primary-fg-color); font-weight: bold; }*/
h4 { color: var(--md-code-hl-constant-color); }

/*strong { color: var(--md-code-hl-special-color); }*/


/* 水平排列 */

.row {
  display: flex;
  align-items: flex-start;
}

.row div {
  flex: 1;
  text-align: justify;
}

.row div:not(:first-child) {
  margin-left: 1em;
}

/* 封面图 */
.cover-big { max-width: 600px!important; max-height: 600px!important;
  /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);*/
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 1);
  /*box-shadow: 1px 1px 3px rgba(255, 255, 255, 1), 3px 3px 5px var(--md-accent-fg-color);*/
  /*box-shadow: 1px 1px 3px rgba(255, 255, 255, 1), 3px 3px 5px var(--md-typeset-a-color);*/
  border-radius: 10px;
}
